.page {
  min-height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.container span {
  color: #6c5ce7;
  font-size: 80px;
  font-weight: 800;
}

.container h1 {
  margin: 10px 0;
  font-size: 45px;
}

.container p {
  color: #666666;
  margin-bottom: 30px;
}

.container a {
  display: inline-block;
  padding: 13px 22px;

  background: #111111;
  color: white;

  border-radius: 8px;
  text-decoration: none;
}